*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: #fff;
    color: #333;
    font-size: 18px;
}
.header{
    background-color: #1d1f23;
    color: #333;
    padding: 20px 40px;
    text-align: center;
}
.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}
.reserve-btn{
    background-color: #d8aa62;
    color: #000;
    border: none;
    cursor: pointer;
}
.logo{
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    letter-spacing: 2px;
}
.nav-links{
    margin-top: 10px;
}
.nav-links a{
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}
.profile-section{
    padding: 60px 10%;
    background-color: #fff;
}
.profile-container{
    display: flex;
    gap: 40px;
    align-items: flex-start;
}
.profile-image img{
    width: 300px;
    height: auto;
    border-radius: 5px;
}
.profile-info{
    flex: 1;
}
.profile-info h2{
    font-size: 28px;
    margin: 0;
}
.job-title{
    color: goldenrod;
    font-weight: bold;
    margin: 5px 0 15px;
}
.description{
    line-height: 1.6;
    margin-bottom: 25px;
}
.info-blocks{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px 30px;
    margin-bottom: 20px;
}
.info i{
    margin-right: 10px;
    color: #333;
}
.social-icons i{
    font-size: 18px;
    margin-right: 15px;
    color: #333;
    cursor: pointer;
}
.video-section{
    background-color: #1c1f24;
    padding: 60px 10%;
    text-align: center;
    color: #fff;
}
.video-label{
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    color: #aaa;
}
.video-container h2{
    margin: 10px o 30px;
    font-size: 26px;
}
.video-thumbnail{
    position: relative;
    display: inline-block;
}
.video-thumbnail img{
    width: 100%;
    max-width: 700px;
    border-radius: 5px;
}
.play-button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.play-button i{
    font-size: 24px;
    color: #000000;
}
.reservation-section{
    background: url('C:\Users\H P\Documents\PROJECT FOLDER\images\download\Background (2).png') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 50px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    max-width: 600px;
    width: 100%;
}
.overlay h4{
    letter-spacing: 2px;
    font-size: 14px;
    color: #ccc;
    margin-bottom: 10px;
}
.overlay h2{
    margin-bottom: 30px;
}
.reservation-form{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}
.reservation-form input{
    padding: 12px;
    width: 45%;
    border: none;
    border-radius: 5px;
}
.reservation-form button{
    padding: 12px 20px;
    border: none;
    background-color: #fff;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
}
/*--footer---*/
.footer{
    background-color: #111822;
    color: #fff;
    padding: 50px 30px 20px;
}
.footer-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 30px;
}
.footer-box{
    flex: 1 1 200px;
}
.footer-box .center{
    text-align: center;
}
.logo{
    font-size: 22px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}
.subscribe-form{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.subscribe-form input{
    padding: 10px;
    border: none;
    border-radius: 4px;
}
.subscribe-form button{
    padding: 10px 16px;
    border: none;
    background-color: #ffffff;
    color: black;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}
.footer-bottom{
    border-top: 1px solid #d8aa62;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}
.footer-bottom a{
    color: #d8aa62;
    text-decoration: none;
}